*.am		crlf
*.bat		crlf
*.c		crlf
*.cpp		crlf
*.css		crlf
*.dsp		crlf
*.dsw		crlf
*.h		crlf
*.H		crlf
*.htm		crlf
*.html		crlf
*.in		crlf
*.inf		crlf
*.ini		crlf
*.inl		crlf
*.java		crlf
*.js		crlf
*.mp		crlf
*.po		crlf
*.pot		crlf
*.rc		crlf
*.sh		crlf
*.skin		crlf
*.sln		crlf
*.svg		crlf
*.tmpl		crlf
*.txt		crlf
*.vcproj	crlf
*.xml		crlf
*.rss           crlf
*.mmp           crlf
*.nsi           crlf
*.def           crlf
*.mak		crlf
*.mk		crlf
*.vsprops	crlf
*.rss		clrf
*.pkg		clrf
*.rtf 		-crlf
*.wav		-crlf
*.mdj		-crlf
*.docx		-crlf
*.png		-crlf
*.jpg		-crlf
*.mdf		-crlf
*.ldf		-crlf
*.diagram	-crlf
oslib/utest/testcases/testdata/file_test_data/*.* -crlf