*~
*.orig
*.vcproj.*.user
*.suo
*.ncb
*.opt
*.aps
*.baz
*.plg
*.vcb
*.vcl
*.vco
*.class
*.user
Thumbs.db
Debug
Release

software/pg-web/pg-console/obj/**
software/pg-web/pg-web/obj/**
software/pg-web/pg-web/bin/**
software/pg-web/.vs/**
software/pg-web/packages/**